<% if flash[:correct_review] %>
  <div class="alert alert-success" role="alert">
    Правильно!
  </div>
<% elsif word = flash[:correct_answer] %>
  <div class="alert alert-danger" role="alert">
    Неверно! Правильный ответ: <%= word %>
  </div>
<% end %>

<% if @card %>
  <div class="panel panel-primary">
    <div class="panel-heading">Пересмотр сегодня</div>
    <div class="panel-body">
      <p> <%= @card.translated_text %> </p>
      <%= form_for :review, url: {action: 'create'} do |f| %>
        <%= f.hidden_field(:card_id, value: @card.id) %>
        <%= f.label(:user_translation, 'Введите оригинальное слово', class: 'label label-default')  %>
        <%= f.text_field(:user_translation, class: 'form-control') %>
        <%= f.submit('Следущее слово', class: 'btn btn-default') %>
      <% end %>
    </div>
  </div>
<% end %>
