<div class="panel panel-info">
  <div class="panel-heading"> Редактирование профиля </div>

  <div class="panel-body">
    <%= simple_form_for current_user, url: { controller: :profile, action: :update }  do |f| %>

      <%= f.input :email, as: :string %>

      <%= f.input :password, label: 'Пароль' %>

      <%= f.input :password_confirmation, label: 'Подтверждение пароля' %>

      <%= f.submit  'Сохранить изменения' %>
    <% end %>
  </div>
</div>

