<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8">
  <title>Флэшкарточкер</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <section id="container">

    <nav class="navbar navbar-default">
      <a class="navbar-brand" href="/">Флэшкарточкер</a>
      <ul class="nav navbar-nav navbar-right">
        <li> <%= link_to 'Все карточки', cards_path %> </li>
        <li> <%= link_to 'Добавить карточку', new_card_path %> </li>
        <% if current_user %>
          <li> <%= link_to 'Профиль', edit_profile_path %> </li>
          <li> <%= link_to 'Выход', :logout, method: :post %> </li>
        <% else %>
          <li> <%= link_to 'Регистрация', new_registration_path %> </li>
          <li> <%= link_to 'Вход', :login %> </li>
          <li> <%= link_to 'Войти через Twitter', auth_at_provider_path(:provider => :twitter) %> </li>
        <% end %>
      </ul>
    </nav>

    <% if notice = flash[:notice] %>
      <div class="alert alert-info" role="alert">
        <%= notice %>
      </div>
    <% elsif alert = flash[:alert] %>
      <div class="alert alert-warning" role="alert">
        <%= alert %>
      </div>
    <% end %>

    <section>

      <%= yield %>

    </section>

  </section>

</body>
</html>
